body {
  background: tan;
}

header {
  text-align: center;
  margin: 60px 0 0 0;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;  
  align-items: center;  
  flex-direction: row;
  margin: 100px 100px 0 10px;  
}

.left {
  display: flex;
  flex-direction: column;
}

button {
  width: 50%;
  margin-top: 60px;
}

#watch-out {
  color: red;
}

#end-game-banner {
  width: 100%;
  background: red;
  height: 60px;
  display:flex;
  justify-content: space-evenly;  
  align-items: center;  
  margin-top: 30px;
  padding: 10px;
  visibility: hidden;
}

.right {
  display: flex;
}

.game-container {
  display: grid;  
  grid-auto-flow: row;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px;  
}

.game-square {
  width: 20px;
  height: 20px;
  background-color: #964B00;
  border-style: solid;
  text-align: center;
}

nav {
  background-color: orange; 
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.nav-item {
  display: flex;
  padding-right: 50px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}


