body {
  background: tan;
}

header {
  text-align: center;
  margin: 60px 0 0 0;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;  
  align-items: center;  
  flex-direction: row;
  margin: 100px;  
}

.left {
  display: flex;
  flex-direction: column;
}

button {
  width: 50%;
  margin-top: 60px;
}

#end-game-banner {
  width: 100%;
  background: red;
  height: 60px;
  display:flex;
  justify-content: space-evenly;  
  align-items: center;  
  margin-top: 30px;
  padding: 10px;
  visibility: hidden;
}

.right {
  display: flex;
}

.game-container {
  display: grid;  
  grid-auto-flow: row;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px;  
}

.game-square {
  width: 20px;
  height: 20px;
  background-color: burlywood;
  border-style: solid;
}

nav {
  background-color: orange; 
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.nav-item {
  display: flex;
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
}


