body {
  background: lightblue;
}

header {
  text-align: center;
  margin: 60px 0 0 0;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;  
  align-items: center;  
  flex-direction: row;
  margin: 100px;  
}

.left {
  display: flex;
}

.right {
  display: flex;
}

.game-container {
  display: grid;  
  grid-auto-flow: row;
  grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px;  
}

.game-square {
  width: 20px;
  height: 20px;
  background-color: gray;
  border-style: solid;
}

nav {
  background-color: orange; 
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.nav-item {
  display: flex;
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
}


